body {
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    color: #362023;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    padding: 25px 100px;
    text-align: center;
}
header > h2 > text {
    cursor: pointer;
}
main {
    height: 100%;
    padding-right: 25px;
}
.graph-1, .graph-3, #lc-legeng-cont {
    width: 100%;
    height: 100%;
    justify-content: center;
}
.graph-1, .graph-2, .graph-3, #lc-legeng-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}
svg {
    background-color: #ffffff;
}
h1 {
    font-family: 'Times', 'serif';
    font-size: 56px;
    margin: 0;
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
.axis-text {
    transform-origin: center;
    transform-box: fill-box;
    text-anchor: middle;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}
.button {
    cursor: pointer;
}
.button-text {
    pointer-events: none;
}
.axis path, .axis line {
    stroke : #362023;
}
.axis text {
    fill : #362023;
}
#time-slider-container, #lc-time-slider-cont {
    text-align: center;
}
.introjs-bullets {
    display: none;
}

/* TOOLTIP */
.d3-tip {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background: rgba(52, 108, 228, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    opacity: 1;
}
.d3-tip > hr {
    margin: 5px 0px;
}
.tooltip-value {
    font-weight: normal;
}

/* CHECKBOXES */
#checkbox-cont-label{
    transform: translate(0px, 13px);
    font-weight: bold;
}
#checkboxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.checkbox {
    cursor: pointer;
    margin-left: 20px;
    display: inline-block;
}
input[type=checkbox] {
    margin-left: 3px;
}
.dropdown-label {
    font-size: 2em;
    position: relative;
    top: 13px;
    margin-left: 2px;
    margin-right: 2px;
    columns: darkblue;
}
.dropdown-menu {
    width: 300px;
    max-height: 200px;
    overflow-y: scroll;
    padding-left: 12px;
    padding-right: 8px;
}
.dropdown-checkbox {
    margin-right: 10px;
}
.dropdown-item {
    cursor: pointer;
}
.dropdown-menu > hr {
    margin: 0px;
}
.dropdown-menu > hr ~ hr {
    margin-bottom: 10px;
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #F1F1F1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

/* TABLE (viz3)*/
#table {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
}
table {
    border-collapse: collapse;
}
td, th {
    padding-bottom: 5px;
}
th {
    position: sticky;
    top: 0;
    border-left: 1px solid black;
    background-color:#83c3ff;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
td {
    border: 1px solid #8e8e8e;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.table-label {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* SLIDE PANEL */
#panel-controls {
    width: 100%;
    text-align: center;
}

/* CICLES COLORS */
.currTimeCircle,.prevTimeCircle {
    fill: gray;
}
circle:not([class*=selection]) {
    opacity: 0.5;
}
.prevTimeCircle {
    stroke-width: 2.5;
}
.prevTimeCircle.selection1 {
    fill: gray;
    stroke: #1F77B4;
}
.prevTimeCircle.selection2 {
    fill: gray;
    stroke: #FF7F0E;
}
.prevTimeCircle.selection3 {
    fill: gray;
    stroke: #2CA02C;
}
.prevTimeCircle.selection4 {
    fill: gray;
    stroke: #D62728;
}
.prevTimeCircle.selection5 {
    fill: gray;
    stroke: #9467BD;
}
.prevTimeCircle.selection6 {
    fill: gray;
    stroke: #8C564B;
}
.prevTimeCircle.selection7 {
    fill: gray;
    stroke: #E377C2;
}
.prevTimeCircle.selection8 {
    fill: gray;
    stroke: #6E0658;
}
.prevTimeCircle.selection9 {
    fill: gray;
    stroke: #BCBD22;
}
.prevTimeCircle.selection10 {
    fill: gray;
    stroke: #17BECF;
}
.selection1 {
    fill: #1F77B4;
    background-color: #1F77B4;
}
.selection2 {
    fill: #FF7F0E;
    background-color: #FF7F0E;
}
.selection3 {
    fill: #2CA02C;
    background-color: #2CA02C;
}
.selection4 {
    fill: #D62728;
    background-color: #D62728;
}
.selection5 {
    fill: #9467BD;
    background-color: #9467BD;
}
.selection6 {
    fill: #8C564B;
    background-color: #8C564B;
}
.selection7 {
    fill: #E377C2;
    background-color: #E377C2;
}
.selection8 {
    fill: #6E0658;
    background-color: #6E0658;
}
.selection9 {
    fill: #BCBD22;
    background-color: #BCBD22;
}
.selection10 {
    fill: #17BECF;
    background-color: #17BECF;
}

/* HISTORY LINES */
.line {
    stroke-width: 5;
}
.line1 {
    stroke: #1F77B4;
}
.line2 {
    stroke: #FF7F0E;
}
.line3 {
    stroke: #2CA02C;
}
.line4 {
    stroke: #D62728;
}
.line5 {
    stroke: #9467BD;
}
.line6 {
    stroke: #8C564B;
}
.line7 {
    stroke: #E377C2;
}
.line8 {
    stroke: #6E0658;
}
.line9 {
    stroke: #BCBD22;
}
.line10 {
    stroke: #17BECF;
}

/* LEGENDS */
.legend {
    height: 25px;
}
.legend > div.title {
    float: left;
    width: 90px;
}
#sp-legend > div.reset {
    float: left;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: underline;
}
.legend > [class*=selection] {
    float: left;
    height: 25px;
    width: 70px;
}
#sp-legend > [class*=selection] {
    cursor: pointer;
}
#lc-legend {
    margin-top: 10px;
}
#lc-tip {
    opacity: 0.0;
    position: absolute;
    top: 45px;
}