body {
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    color: #362023;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 25px 100px;
    text-align: center;
}

main {
    height: 100%;
    padding-right: 25px;
}

.graph-1, .graph-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

svg {
    background-color: #ffffff;
}

.d3-tip {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background: rgba(52, 108, 228, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    opacity: 1;
}


h1 {
    font-family: 'Times', 'serif';
    font-size: 56px;
    margin: 0;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}


.axis-text {
    transform-origin: center;
    transform-box: fill-box;
    text-anchor: middle;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.button {
    cursor: pointer;
}

.button-text {
    pointer-events: none;
}

.tooltip-value {
    font-weight: normal;
}

.axis path, .axis line {
    stroke : #362023;
}

.axis text {
    fill : #362023;
}

#time-slider-container {
    text-align: center;
}


/* CHECKBOXES*/
#checkboxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.checkbox {
    cursor: pointer;
    margin-left: 20px;
}