body {
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    color: #362023;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 25px 100px;
    text-align: center;
}

main {
    height: 100%;
    padding-right: 25px;
}
.graph-1 {
    width: 100%;
    height: 100%;
    justify-content: center;
}
.graph-1, .graph-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

svg {
    background-color: #ffffff;
}

.d3-tip {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background: rgba(52, 108, 228, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    opacity: 1;
}


h1 {
    font-family: 'Times', 'serif';
    font-size: 56px;
    margin: 0;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}


.axis-text {
    transform-origin: center;
    transform-box: fill-box;
    text-anchor: middle;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.button {
    cursor: pointer;
}

.button-text {
    pointer-events: none;
}

.tooltip-value {
    font-weight: normal;
}

.axis path, .axis line {
    stroke : #362023;
}

.axis text {
    fill : #362023;
}

#time-slider-container {
    text-align: center;
}


/* CHECKBOXES*/
#checkboxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.checkbox {
    cursor: pointer;
    margin-left: 20px;
}

/*CUSTOM SCROLL BAR*/
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

/*TABLE*/
#table {

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
}
table {
    border-collapse: collapse;
}
th {
    position: sticky;
    top: 0;
    border-left: 1px solid black;
    background-color:#83c3ff;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
td {
    border: 1px solid #8e8e8e;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.table-label {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.currTimeCircle,.prevTimeCircle {
    fill: skyblue;
}
circle:not([class*=selection]) {
    opacity: 0.5;
}
.prevTimeCircle {
    stroke-width: 2.5;
}
.prevTimeCircle.selection1 {
    fill: gray;
    stroke: red;
}
.prevTimeCircle.selection2 {
    fill: gray;
    stroke: blue;
}
.prevTimeCircle.selection3 {
    fill: gray;
    stroke: green;
}
.prevTimeCircle.selection4 {
    fill: gray;
    stroke: yellow;
}
.prevTimeCircle.selection5 {
    fill: gray;
    stroke: orange;
}
.prevTimeCircle.selection6 {
    fill: gray;
    stroke: purple;
}
.prevTimeCircle.selection7 {
    fill: gray;
    stroke: brown;
}
.prevTimeCircle.selection8 {
    fill: gray;
    stroke: pink;
}
.prevTimeCircle.selection9 {
    fill: gray;
    stroke: salmon;
}
.prevTimeCircle.selection10 {
    fill: gray;
    stroke: indigo;
}
.selection1 {
    fill: red;
    background-color: red;
}
.selection2 {
    fill: blue;
    background-color: blue;
}
.selection3 {
    fill: green;
    background-color: green;
}
.selection4 {
    fill: yellow;
    background-color: yellow;
}
.selection5 {
    fill: orange;
    background-color: orange;
}
.selection6 {
    fill: purple;
    background-color: purple;
}
.selection7 {
    fill: brown;
    background-color: brown;
}
.selection8 {
    fill: pink;
    background-color: pink;
}
.selection9 {
    fill: salmon;
    background-color: salmon;
}
.selection10 {
    fill: indigo;
    background-color: indigo;
}
.line {
    stroke-width: 5;
}
.line1 {
    stroke: red;
}
.line2 {
    stroke: blue;
}
.line3 {
    stroke: green;
}
.line4 {
    stroke: yellow;
}
.line5 {
    stroke: orange;
}
.line6 {
    stroke: purple;
}
.line7 {
    stroke: brown;
}
.line8 {
    stroke: pink;
}
.line9 {
    stroke: salmon;
}
.line10 {
    stroke: indigo;
}
#legend {
    height: 20px;
}
#legend > div.title {
    float: left;
    width: 90px;
}
#legend > div.reset {
    float: left;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: underline;
}
#legend > [class*=selection] {
    float: left;
    height: 20px;
    width: 70px;
    cursor: pointer;
}